@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Lobster|Oxygen:400,700|Hammersmith+One);
html, body {
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    color: #000;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Hammersmith One', sans-serif;
}
* {
    outline: none;
}
textarea {
    resize: none
}
i[class^="icon-"]:before, i[class*=" icon-"]:before {
    margin: 0;
}
.gray {
    background-color: #D7D3D0;
}
.dark_gray {
    background-color: #7A787D;
}
.pale_blue {
    background-color: #C4D8E2;
}
.light_blue {
    background-color: #A8CEE2;
}
.dark_blue {
    background-color: #75AADB;
}
.orange {
    background-color: #E98B33;
}
.brown {
    background-color: #44281A;
}
a {
    text-decoration: none;
    -webkit-transition: color 0.25s linear;
    -moz-transition: color 0.25s linear;
    -ms-transition: color 0.25s linear;
    -o-transition: color 0.25s linear;
    transition: color 0.25s linear;
}
.btn, .btn:hover, .btn:focus, .btn:active, .btn:active:focus {
    color: #FFF;
    outline: 0 none;
    border: none;
    box-shadow: none;
}
.btn {
    background: #E98B33;
}
.btn:hover {
    background: #EDA25B;
}
.btn:focus {
    background: #E98B33;
}
.btn:active {
    background: #7A787D;
}
#billboard-wrap {
    height: 100%;
    background: url('../assets/billboard.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#billboard-overlay {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}
.navbar {
    background-color: transparent;
    border: none;
    border-radius: 0px;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
    color: #44281A;
    font-size: 18px;
}
#container {
    height: 100%;
}
#events-wrap {
    background-color: #fff;
}
#events-title {
    margin: 30px 0px;
}
#events-title > h1 {
    color: #44281A;
    text-align: center;
    font-size: 5em;
    text-indent: 0.15em;
}
.event-wrap {
    position: relative;
    overflow: hidden;
    margin-bottom: 80px;
}
.event-date {
    background-color: #A8CEE2;
    color: #FFF;
    border-radius: 50%;
    margin: 0px auto;
    width: 150px;
    height: 150px;
}
.event-date-month {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    top: 15px;
    right: 0px;
}
.event-date-day {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 80px;
    top: 35px;
    right: 0px;
}
.event-name {
    text-align: center;
    height: 80px;
    margin-bottom: 20px;
}
.event-name > h3 {
    font-family: 'Lobster', cursive;
    color: #E98B33;
    font-size: 3em;
}
.event-description {
    overflow: hidden;
    margin-bottom: 70px;
}
.event-description > p {
    color: #7A787D;
    height: 100%;
    font-size: 1.5em;
    text-align: center;
    max-height: 250px;
}
.event-btn {
    position: absolute;
    font-size: 2em;
    font-weight: bold;
    height: 60px;
    width: 60%;
    left: 20%;
    bottom: 5px;
}
.events-all {
    color: #7a787d;
    font-size: 1.2em;
}
.events-title {
    color: #7a787d;
    font-size: 1.2em
    text-align: center;
}
.btn-block {
    border-radius: 0;
}
.glyphicon-chevron-up {
    display: block;
}
.glyphicon-chevron-down {
    display: none;
}
.collapsed > .glyphicon-chevron-down {
    display: block;
}
.collapsed > .glyphicon-chevron-up {
    display: none;
}
.events-all-wrapper {
    height: 300px;
    /*overflow: auto;*/
}

.input-group {
    /*height: 60px;*/
    width: 60%;
    margin: 0 auto;
}

.events-search {
    position: relative;
    top: 50%;
    transform: translateY(-65%);
}

.events-list {
    height: 300px;
    overflow: auto;
    float: right;
}

.search-text {
    height: 60px;
}

.events-list ul {
    padding: 0;
    margin: 20px 0;
    color: #555;
}

.events-list ul > li {
    list-style: none;
    border-top: 1px solid #ddd;
    display: block;
    padding: 15px;
    overflow: hidden;
}

.events-list ul:last-child {
    border-bottom: 1px solid #ddd;
}

.events-list ul > li:hover {
    background: #efefef;
}

.events-list::-webkit-scrollbar {
    /*display: none;*/
}
time.icon
{
    font-size: .5em; /* change icon size */
    display: inline-block;
    position: relative;
    width: 7em;
    height: 7em;
    background-color: #fff;
    border-radius: 0.6em;
    box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
    overflow: hidden;
    float: right;
}

time.icon *
{
    display: block;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

time.icon strong
{
    font-size: 1.6em;
    position: absolute;
    top: 0;
    padding: 0.1em 0;
    color: #fff;
    background-color: #fd9f1b;
    border-bottom: 1px dashed #f37302;
    box-shadow: 0 2px 0 #fd9f1b;
}

time.icon em
{
    position: absolute;
    bottom: 0.3em;
    color: #fd9f1b;
}

time.icon span
{
    font-size: 2.8em;
    letter-spacing: -0.05em;
    padding-top: 0.8em;
    color: #2f2f2f;
}

li > p {
    font-size: 1.2em;
    color: #999;
    float: left;
}
#about-overlay {
    position: relative;
    overflow: hidden;
    height: 100%;
    background-color: rgba(168, 206, 226, 0.92);
    padding: 0px 10px;
}
#about-title {
    margin: 30px 0px;
}
#about-title > h1 {
    color: #44281A;
    text-align: center;
    font-size: 5em;
}
#about-short {
    margin-bottom: 20px;
}
#about-container {
    position: relative;
    overflow: hidden;
    margin-bottom: 220px;
    max-height: 1200px;
}
#about-short > h3 {
    font-family: 'Lobster', cursive;
    text-align: center;
    margin: 0px;
    color: #E98B33;
    font-size: 2em;
}
#about-long > p {
    text-align: center;
    font-size: 1.5em;
    color: #FFF;
}
#about-btn-wrap {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 80px;
}
#about-btn {
    position: relative;
    display: block;
    font-size: 2em;
    font-weight: bold;
    height: 60px;
    width: 160px;
    margin: 0px auto;
}
.pull-right-xs {
    float: right;
}
#contact-overlay {
    position: relative;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0px 10px;
}
#contact-title {
    opacity: 1;
    margin: 30px 0px;
}
#contact-title > h1 {
    color: #44281A;
    text-align: center;
    font-size: 5em;
}
#contact-form-wrap {
    bottom: 0px;
}
#contact-form-fields {
    margin-bottom: 180px;
}
#contact-form-fields input {
    height: 50px;
}
#contact-btn-wrap {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 60px;
}
#contact-btn {
    position: relative;
    display: block;
    font-size: 2em;
    font-weight: bold;
    height: 60px;
    width: 160px;
    margin: 0px auto;
}
@media (min-width: 768px) {
    .pull-right-sm {
        float: right;
    }
    .event-description > p {
        height: 200px;
    }
    #about-long > p {
        text-align: left;
    }
}
@media (min-width: 992px) {
    .pull-right-md {
        float: right;
    }
    .events-container {
        padding: 0px;
    }
}
@media (min-width: 1200px) {
    .pull-right-lg {
        float: right;
    }
    .events-container {
        padding: 0px;
    }
}
@media all and (orientation: portrait) {
    #about-overlay {
        background-color: rgba(168, 206, 226, 0.9);
    }
    #about-wrap {
        background: url('../assets/about-port.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
    }
    #contact-wrap {
        background: url('../assets/contact-port.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}
@media all and (orientation: landscape) {
    #about-overlay {
        background-color: rgba(168, 206, 226, 0.96);
    }
    #about-wrap {
        background: url('../assets/about-land.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    #contact-wrap {
        background: url('../assets/contact-land.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
    }
}

