@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Oxygen:400,700|Hammersmith+One);
html, body {
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    color: #000;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}
/*h1, h2, h3, h4, h5, h6 {
    font-family: 'Hammersmith One', sans-serif;
}*/
p {
    letter-spacing: 0.05em;
    line-height: 1.3em;
    margin: 0 0 0 0;
}
h1 {
    font-size: 3em;
    font-weight: bold;
    color: #44281A;
    letter-spacing: 5pt;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 25px;
}
h3 {
    font-family: Lora;
    font-size: 1.6em;
    color: #44281A;
    font-style: italic;
    font-weight: 700;
}
h3 > a {
    color: #44281A;
}
h3 > a:hover {
    color: #E98B33;
    text-decoration: none;
}
h5 {
    font-family: Lora;
    font-weight: bold;
    font-style: italic;
    font-size: 1.5em;
    /*letter-spacing: 0.05em;*/
    margin: 0 0 0 0;
    color: white;
}
h6 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #44281A;
    font-size: 0.7em;
}
* {
    outline: none;
}
textarea {
    resize: none
}
i[class^="icon-"]:before, i[class*=" icon-"]:before {
    margin: 0;
}
.gray {
    background-color: #D7D3D0;
}
.dark_gray {
    background-color: #7A787D;
}
.pale_blue {
    background-color: #C4D8E2;
}
.light_blue {
    background-color: #A8CEE2;
}
.dark_blue {
    background-color: #75AADB;
}
.orange {
    background-color: #E98B33;
}
.brown {
    background-color: #44281A;
}
a {
    text-decoration: none;
    -webkit-transition: color 0.25s linear;
    -moz-transition: color 0.25s linear;
    -o-transition: color 0.25s linear;
    transition: color 0.25s linear;
}
.btn, .btn:hover, .btn:focus, .btn:active, .btn:active:focus {
    color: #FFF;
    font-size: 0.75em;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    outline: 0 none;
    border: none;
    box-shadow: none;
    padding: 2em 2em 2em 2em;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.btn {
    background: #E98B33;
}
.btn:hover {
    background: #44281A;
}
.btn:focus {
    background: #E98B33;
}
.btn:active {
    background: #7A787D;
}
.form-control {
    font-size: 0.9em;
    letter-spacing: 0.1em;
}
.input-group-lg>.form-control {
    font-size: 1em;
    letter-spacing: 0.1em;
}
#billboard-wrap {
    height: 100%;
    background: url('../assets/billboard.jpg') no-repeat center;
    background-size: cover;
}
#billboard-overlay {
    position: relative;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}
/*.site-logo {
    width: 40%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.8;
}
#landing-logo {
    position: relative;
    top: 25vh;
    height: 50vh;
    opacity: 0.6;
}*/
#landing-name {
    position: relative;
    top: 50vh;
    font-size: 1.5vh;
    letter-spacing: 1em;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar {
    background-color: transparent;
    border: none;
    border-radius: 0;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.navbar-default .navbar-nav > li > a, .navbar-default {
    color: black;
    font-size: 0.85em;
    letter-spacing: 0.4em;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar-default .navbar-brand {
    color: transparent;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0.5em;
}
#container {
    height: 100%;
}
#events-wrap {
    background-color: #fff;
}
#events-title {
    margin: 30px 0;
}
#events-title > h1 {
    color: #44281A;
    text-align: center;
    font-size: 5em;
    text-indent: 0.15em;
}
.event-wrap {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 80px;
}
.event-date {
    background-color: #C4D8E2;
    color: #FFF;
    border-radius: 50%;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}
.event-date-month {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    top: 15px;
    right: 0;
}
.event-date-day {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 50px;
    top: 21px;
    right: 0;
}
.event-name {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
    /*height: 80px;*/
    /*margin-bottom: 20px;*/
}
/*.event-name > h3 {
    font-family: 'Lora', cursive;
    color: #E98B33;
    font-size: 3em;
}*/
.event-description {
    overflow: hidden;
    /*margin-bottom: 70px;*/
    /**/
}
.event-description > p {
    /*color: #7A787D;*/
    max-height: 13em;
    height: 100%;
/*    font-size: 1.5em;*/
    text-align: left;
}
.event-btn {
    position: absolute;
    font-size: 2em;
    font-weight: bold;
    height: 60px;
    width: 60%;
    left: 20%;
    bottom: 5px;
}
.events-all {
    color: #7a787d;
    font-size: 1.2em;
}
.events-title {
    color: #7a787d;
    font-size: 1.2em;
    text-align : center;
}
.btn-block {
    border-radius: 0;
}
.past-btn {
    display: none;
}
.past-btn-pressed {
    display: block;
}
.collapsed > .past-btn-pressed {
    display: none;
}
.collapsed > .past-btn {
    display: block;
}
.btn.btn-open:hover {
    background-color: #44281A;
}
.events-all-wrapper {
    height: 285px;
}
.events-all-wrapper > div {
    margin: 0;
    padding: 0;
}
.input-group {
    width: 90%;
    margin: 0 auto;
}
.events-search {
    position: relative;
    top: 50%;
    transform: translateY(-65%);
}
.events-list {
    height: 285px;
    overflow: auto;
    float: right;
}
.search-text {
    height: 60px;
}
.events-list ul {
    padding: 0;
    color: #555;
}
.events-list li {
    list-style: none;
    display: block;
    overflow: hidden;
}
.line {
    width: 95%;
    margin: auto;
    border: 1px solid #ddd;
}
a:last-child > .line {
    display: none;
}
.events-list a > li:hover {
    /*background-color: #D7D3D0;*/
}
.events-list::-webkit-scrollbar {
    display: none;
}
.events-list li > p {
    float: left;
}
.events-list-item {
    position: relative;
    margin: 0;
    padding: 10px;
}
.past-date-wrap {
    float: right;
    display: none;
}
.past-date {
    background-color: #A8CEE2;
    color: #FFF;
    border-radius: 50%;
    margin: 0 auto;
    width: 75px;
    height: 75px;
    position: relative;
}
.past-date-month {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    top: 7.5px;
    right: 0;
}
.past-date-day {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 40px;
    top: 17.5px;
    right: 0;
}
.past-year {
    text-align: center;
    height: 10px;
}
/*.past-year > h3 {
    font-family: 'Lora', cursive;
    color: #E98B33;
    font-size: 1.5em;
    margin: 0;
}*/
#about-overlay {
    position: relative;
    overflow: hidden;
    height: 100%;
    background-color: rgba(168, 206, 226, 0.92);
    padding: 0 10px;
}
/*#about-title {
    margin: 30px 0;
}*/
#about-title > h1 {
    color: #E98B33;
    text-align: center;
}
#about-short {
    /*margin-bottom: 20px;*/
}
#about-container {
    position: relative;
    overflow: hidden;
    margin-bottom: 100px;
    max-height: 1200px;
}
#about-short > h3 {
    font-family: 'Lora', cursive;
    /*text-align: center;*/
    /*margin: 0;*/
    color: #E98B33;
    font-size: 1.5em;
    line-height: 1.8em;
}
#about-long > p {
    text-align: center;
    font-size: 2em;
    letter-spacing: 0.05em;
    line-height: 1.5em;
    color: #FFF;
}
#about-btn-wrap {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 80px;
}
#about-btn {
    position: relative;
    display: block;
    font-size: 2em;
    font-weight: bold;
    height: 60px;
    width: 160px;
    margin: 0 auto;
}
#resources-title {
    margin: 30px 0;
}
#resources-title > h1 {
    color: #ffffff;
    /*text-align: center;*/
    /*font-size: 5em;*/
}
#resources-bar {
    margin-bottom: 140px;
}
.dropdown-menu {
    position: absolute;
    margin: 0;
    right: 0;
}
.dropdown {
    position: static;
}
.pull-right-xs {
    float: right;
}
.gallery-wrapper {
    position: relative;
    height: 1000px;
}
.gallery-wrapper > h1 {
    text-align: center;
    /*font-size: 4em;*/
    /*margin: 100px 0;*/
}
.item {
    width: 100%;
}
.gallery-small {
    position: relative;
    margin-top: 20px;
    height: 280px;
    width: 100%;
}
.gallery-img-sm {
    /*border: 1px solid #000;*/
    margin: 0 0 10px 10px;
    display: inline-block;
}
.gallery-img-sm:first-child {
    margin: 0 0 10px 0;
}
.gallery-img-sm:nth-child(9n) {
    margin: 0 0 10px 0;
}
.gallery-img-sm:hover {
    cursor: pointer;
}
#contact-overlay {
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0 10px;
}
#contact-title {
    opacity: 1;
    margin: 30px 0;
}
#contact-title > h1 {
    color: #A8CEE2;
}
#contact-form-wrap {
    bottom: 0;
}
#contact-form-fields {
    margin-bottom: 20px;
}
#contact-form-fields input {
    padding-top: 20px;
    padding-bottom: 20px;
    /*height: 50px;*/
}
#contact-form-fields textarea {
    /*padding-top: 15px;*/
}
#contact-btn-wrap {
    /*position: absolute;*/
    width: 100%;
    left: 0;
    /*bottom: 60px;*/
}
#contact-btn-wrap .btn {
    padding: 1em 2em 1em 2em;
    margin-bottom: 150px;
}
#contact-btn {
    position: relative;
    display: block;
    /*font-size: 2em;*/
    /*font-weight: bold;*/
/*    height: 60px;
    width: 160px;*/
    margin: 0 auto;
}
@media (max-width: 768px) {
    .gallery-wrapper {
        height: 100%;
        margin-bottom: 150px;
    }
    .gallery-small {
        display: none;
    }
}
@media (min-width: 768px) {
    .pull-right-sm {
        float: right;
    }
    .event-description > p {
        height: 200px;
    }
    #about-long > p {
        text-align: left;
    }
    .gallery-wrapper {
        height: 1000px;
    }
    .item {
        height: 450px;
    }

}
@media (min-width: 992px) {
    .pull-right-md {
        float: right;
    }
    .events-container {
        padding: 0;
    }
    .gallery-wrapper {
        height: 1200px;
    }
    .item {
        height: 600px;
    }
    .past-date-wrap {
        display: block;
    }
}
@media (min-width: 1200px) {
    .pull-right-lg {
        float: right;
    }
    .events-container {
        padding: 0;
    }
    .gallery-wrapper {
        height: 1400px;
    }
    .item {
        height: 750px;
    }
}
@media all and (orientation: portrait) {
    #about-overlay {
        background-color: #44281A;
    }
    #about-wrap {
        /*background: url('../assets/about-port.jpg') no-repeat top;*/
        background-size: cover;
    }
    #contact-wrap {
        background: url('../assets/contact-land.jpg') no-repeat center;
        background-size: cover;
    }
    #resources-wrap {
        background: url('../assets/contact-port.jpg') no-repeat center;
        background-size: cover;
    }
}
@media all and (orientation: landscape) {
    #about-overlay {
        background-color: #44281A;
    }
    #about-wrap {
        /*background: url('../assets/about-land.jpg') no-repeat center;*/
        background-size: cover;
    }
    #contact-wrap {
        background: url('../assets/contact-land.jpg') no-repeat top;
        background-size: cover;
    }
    #resources-wrap {
        background: url('../assets/contact-port.jpg') no-repeat center;
        background-size: cover;
    }
}

