@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Lobster|Oxygen:400,700|Hammersmith+One);

html, body {
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    color: #000;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Hammersmith One', sans-serif;
}

* {
    outline: none;
}

textarea {
    resize: none
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    margin: 0;
}

.gray {
    background-color: #D7D3D0;
}

.dark_gray {
    background-color: #7A787D;
}

.pale_blue {
    background-color: #C4D8E2;
}

.light_blue {
    background-color: #A8CEE2;
}

.dark_blue {
    background-color: #75AADB;
}

.orange {
    background-color: #E98B33;
}

.brown {
    background-color: #44281A;
}

a {
    text-decoration: none;
    -webkit-transition: color 0.25s linear;
    -moz-transition: color 0.25s linear;
    -ms-transition: color 0.25s linear;
    -o-transition: color 0.25s linear;
    transition: color 0.25s linear;
}

.btn, .btn:hover, .btn:focus, .btn:active, .btn:active:focus {
    color: #FFF;
    outline: 0 none;
    border: none;
    box-shadow: none;
}

.btn {
    background: #E98B33;
}

.btn:hover {
    background: #EDA25B;
}

.btn:focus {
    background: #E98B33;
}

.btn:active {
    background: #7A787D;
}

#billboard-wrap {
    height: 100%;
    background: url('../assets/billboard.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#billboard-overlay {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.navbar {
    background-color: transparent;
    border: none;
    border-radius: 0px;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
    color: #44281A;
    font-size: 18px;
}

#container {
    height: 100%;
}

#events-wrap {
    background-color: #fff;
}

#events-title {
    margin: 30px 0px;
}

#events-title > h1 {
    color: #44281A;
    text-align: center;
    font-size: 5em;
    text-indent: 0.15em;
}

.event-wrap {
    position: relative;
    overflow: hidden;
    margin-bottom: 80px;
}

.event-date {
    background-color: #A8CEE2;
    color: #FFF;
    border-radius: 50%;
    margin: 0px auto;
    width: 150px;
    height: 150px;
}

.event-date-month {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    top: 15px;
    right: 0px;
}

.event-date-day {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 80px;
    top: 35px;
    right: 0px;
}

.event-name {
    text-align: center;
    height: 80px;
    margin-bottom: 20px;
}

.event-name > h3 {
    font-family: 'Lobster', cursive;
    color: #E98B33;
    font-size: 3em;
}

.event-description {
    overflow: hidden;
    margin-bottom: 70px;
}

.event-description > p {
    color: #7A787D;
    height: 100%;
    font-size: 1.5em;
    text-align: center;
    max-height: 250px;
}

.event-btn {
    position: absolute;
    font-size: 2em;
    font-weight: bold;
    height: 60px;
    width: 60%;
    left: 20%;
    bottom: 5px;
}

.events-all {
    color: #7a787d;
    font-size: 1.2em;
}

.events-title {
    color: #7a787d;
    font-size: 1.2em text-align : center;
}

.btn-block {
    border-radius: 0;
}

.past-btn {
    display: none;
}

.past-btn-pressed {
    display: block;
}

.collapsed > .past-btn-pressed {
    display: none;
}

.collapsed > .past-btn {
    display: block;
}

.btn.btn-open:hover {
    background: #E98B33;
    color: #44281A;
}

.events-all-wrapper {
    height: 300px;
}

.input-group {
    width: 75%;
    margin: 0 auto;
}

.events-search {
    position: relative;
    top: 50%;
    transform: translateY(-65%);
}

.events-list {
    height: 300px;
    overflow: auto;
    float: right;
}

.search-text {
    height: 60px;
}

.events-list ul {
    padding: 0;
    margin: 20px 0;
    color: #555;
}

.events-list li {
    list-style: none;
    display: block;
    padding: 15px;
    overflow: hidden;
}

.line {
    width: 95%;
    margin: auto;
    border: 1px solid #ddd;
}

a:last-child > .line {
    display: none;
}

.events-list a > li:hover {
    background: #efefef;
}

.events-list::-webkit-scrollbar {
    display: none;
}

li > p {
    font-size: 1.2em;
    color: #999;
    float: left;
    transform: translateY(20%);
}

.past-date-wrap {
    float: right;
    display: none;
}

.past-date {
    background-color: #A8CEE2;
    color: #FFF;
    border-radius: 50%;
    margin: 0 auto;
    width: 75px;
    height: 75px;
    position: relative;
    transform: translateY(-7px);
}

.past-date-month {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    top: 7.5px;
    right: 0;
}

.past-date-day {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 40px;
    top: 17.5px;
    right: 0;
}

.past-year {
    text-align: center;
    height: 10px;
}

.past-year > h3 {
    font-family: 'Lobster', cursive;
    color: #E98B33;
    font-size: 1.5em;
    margin: 0;
}

#about-overlay {
    position: relative;
    overflow: hidden;
    height: 100%;
    background-color: rgba(168, 206, 226, 0.92);
    padding: 0px 10px;
}

#about-title {
    margin: 30px 0px;
}

#about-title > h1 {
    color: #44281A;
    text-align: center;
    font-size: 5em;
}

#about-short {
    margin-bottom: 20px;
}

#about-container {
    position: relative;
    overflow: hidden;
    margin-bottom: 220px;
    max-height: 1200px;
}

#about-short > h3 {
    font-family: 'Lobster', cursive;
    text-align: center;
    margin: 0px;
    color: #E98B33;
    font-size: 2em;
}

#about-long > p {
    text-align: center;
    font-size: 1.5em;
    color: #FFF;
}

#about-btn-wrap {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 80px;
}

#about-btn {
    position: relative;
    display: block;
    font-size: 2em;
    font-weight: bold;
    height: 60px;
    width: 160px;
    margin: 0 auto;
}

#resources-title {
    margin: 30px 0;
}

#resources-title > h1 {
    color: #ffffff;
    text-align: center;
    font-size: 5em;
}

#resources-bar {
    margin-bottom: 140px;
}

.dropdown-menu {
    /*position: relative;*/
    /*left: -1000px;*/
}

.pull-right-xs {
    float: right;
}

.gallery-wrapper {
    position: relative;
    height: 1000px;
}

.gallery-wrapper > h1 {
    text-align: center;
    font-size: 4em;
    margin: 100px 0;
}

.item {
    width: 100%;
}

.gallery-small {
    position: relative;
    margin-top: 20px;
    height: 280px;
    width: 100%;
}

.gallery-img-sm {
    background: #CCC no-repeat center center;
    border: 1px solid #000;
    margin: 10px;
    background-size: cover;
    -moz-background-size: cover;
    display: none;
}

.gallery-img-sm:hover {
    cursor: pointer;
}

#contact-overlay {
    position: relative;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0 10px;
}

#contact-title {
    opacity: 1;
    margin: 30px 0;
}

#contact-title > h1 {
    color: #44281A;
    text-align: center;
    font-size: 5em;
}

#contact-form-wrap {
    bottom: 0;
}

#contact-form-fields {
    margin-bottom: 180px;
}

#contact-form-fields input {
    height: 50px;
}

#contact-btn-wrap {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 60px;
}

#contact-btn {
    position: relative;
    display: block;
    font-size: 2em;
    font-weight: bold;
    height: 60px;
    width: 160px;
    margin: 0px auto;
}

@media (max-width: 768px) {
    .gallery-wrapper {
        height: 100%;
        margin-bottom: 150px;
    }

    .gallery-small {
        display: none;
    }
}

@media (min-width: 768px) {
    .pull-right-sm {
        float: right;
    }

    .event-description > p {
        height: 200px;
    }

    #about-long > p {
        text-align: left;
    }

    .gallery-wrapper {
        height: 1000px;
    }

    .item {
        height: 450px;
    }

}

@media (min-width: 992px) {
    .pull-right-md {
        float: right;
    }

    .events-container {
        padding: 0px;
    }

    .gallery-wrapper {
        height: 1200px;
    }

    .item {
        height: 600px;
    }

    .past-date-wrap {
        display: block;
    }

    li > p {
        transform: translateY(30px);
    }
}

@media (min-width: 1200px) {
    .pull-right-lg {
        float: right;
    }

    .events-container {
        padding: 0px;
    }

    .gallery-wrapper {
        height: 1400px;
    }

    .item {
        height: 750px;
    }
}

@media all and (orientation: portrait) {
    #about-overlay {
        background-color: rgba(168, 206, 226, 0.9);
    }

    #about-wrap {
        background: url('../assets/about-port.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
    }

    #contact-wrap {
        background: url('../assets/contact-port.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    #resources-wrap {
        background: url('../assets/contact-port.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media all and (orientation: landscape) {
    #about-overlay {
        background-color: rgba(168, 206, 226, 0.96);
    }

    #about-wrap {
        background: url('../assets/about-land.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    #contact-wrap {
        background: url('../assets/contact-land.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
    }

    #resources-wrap {
        background: url('../assets/contact-port.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

