@charset "utf-8";
body {
    background-color: #C4D8E2;
}
.navbar {
    background-color: transparent;
    border: none;
    border-radius: 0px;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
#container {
    height: auto;
}
#event-container {
    background-color: transparent;
    margin-top: 50px;
    height: 100%;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
    color: #D7D3D0;
    font-size: 18px;
}
#event-wrap {
	padding: 0px;
}
#event-details {
	margin-bottom: 30px;
}
#event-details > div {
    padding: 0px;
}
#event-name {
    text-align: center;
    height: auto;
    margin-bottom: 30px;
}
#event-name > h3 {
    font-family: 'Lobster', cursive;
    color: #E98B33;
    font-size: 3em;
    margin: 0px;
}
#event-description {
    overflow: visible;
    margin-bottom: 20px;
}
#event-description > p {
    color: #7A787D;
    height: 100%;
    font-size: 1.5em;
    text-align: center;
    max-height: none;
}
#event-date {
	text-align: center;
}
#event-date > h5 > i, #event-time > h5 > i, #event-location > h5 > i {
    color: #75AADB;
    font-size: 1em;
    margin-right: 10px;
}
#event-date > h5 {
    display: inline-block;
    margin: 0px;
    font-size: 1.5em;
    color: #7A787D;
}
#event-time {
	text-align: center;
}
#event-time > h5 {
    display: inline-block;
    margin: 0px;
    font-size: 1.5em;
    color: #7A787D;
}
#event-location {
	text-align: center;
}
#event-location > h5 {
    display: inline-block;
    margin: 0px;
    font-size: 1.5em;
    color: #7A787D;
}
#event-links {
	text-align: center;
}
.event-links {
	padding: 0px 10px;
}
#event-links i {
	color: #75AADB;
	font-size: 3em;
}
#event-speakers {
	padding: 0px 15px;
	margin-bottom: 30px;
}
.profile {
    text-align: center;
    color: #7A787D;
    padding: 0px;
}
.profile-name {
    font-weight: bold;
    margin: 10px 0px 0px 0px;
}
.profile-company {
    margin: 0px;
}
.profile-frame {
    background-color: #44281A;
    margin: 0 auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.profile-glass {
    background-image: url("../images/profiles/costa.jpg");
    background-size: 100%;
    width: 96%;
    height: 96%;
    margin: 0 auto;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.form-group {
    padding: 0px;
    margin-bottom: 10px;
}
#register-form-wrap {
	margin-bottom: 30px;
}
#register-btn {
    font-size: 2em;
    font-weight: bold;
}
@media (min-width: 768px) {
    #event-name {
        text-align: left;
    }
    #event-description > p {
        text-align: left;
        height: auto;
    }
}
@media (min-width: 992px) {
    .event-name {
        text-align: left;
    }
}
@media (min-width: 1200px) {
    .event-name {
        text-align: left;
    }
}
@media all and (orientation: portrait) {
    .event-name {
        text-align: left;
    }
}
@media all and (orientation: landscape) {
    .event-name {
        text-align: left;
    }
}
