@charset "utf-8";
body {
    background-color: #C4D8E2;
}
.navbar {
    background-color: rgba(68, 40, 26, 0.7);
}
#container {
    height: auto;
}
#event-container {
    background-color: transparent;
    margin-top: 50px;
    padding-top: 30px;
    height: 100%;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
    color: #D7D3D0;
    font-size: 18px;
}
.navbar-default .navbar-nav>li>a:active, .navbar-default .navbar-brand:active {
    color: #44281A;
    font-size: 18px;
}
.navbar-default .navbar-nav>li>a:active:focus, .navbar-default .navbar-brand:active:focus {
    color: #44281A;
    font-size: 18px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-brand:focus {
    color: #D7D3D0;
    font-size: 18px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-brand:hover {
    color: #44281A;
    font-size: 18px;
}
#event-wrap {
    padding: 0px;
}
#event-details {
    margin-bottom: 30px;
}
#event-details > div {
    padding: 0px;
}
#event-name {
    text-align: center;
    height: auto;
    margin-bottom: 20px;
}
#event-name > h3 {
    font-family: 'Lobster', cursive;
    color: #E98B33;
    font-size: 3em;
    margin: 0px;
}
#event-description {
    overflow: visible;
    margin-bottom: 20px;
}
#event-description > p {
    color: #7A787D;
    font-size: 1.5em;
    text-align: center;
    max-height: none;
}
#event-date {
    text-align: center;
}
#event-date > h5 > i, #event-time > h5 > i, #event-location > h5 > i {
    color: #75AADB;
}
#event-date > h5 {
	padding-left: 1em;
	text-indent: -1em;
    display: inline-block;
    margin: 0px;
    font-size: 1.5em;
    color: #7A787D;
}
#event-time {
    text-align: center;
}
#event-time > h5 {
	padding-left: 1em;
	text-indent: -1em;
    display: inline-block;
    margin: 0px;
    font-size: 1.5em;
    color: #7A787D;
}
#event-location {
    text-align: center;
}
#event-location > h5 {
	padding-left: 1em;
	text-indent: -1em;
    display: inline-block;
    margin: 0px;
    font-size: 1.5em;
    color: #7A787D;
}
#event-links {
    text-align: center;
}
#event-links i {
    color: #E98B33;
    font-size: 3em;
}
#event-links i:hover {
    color: #EDA25B;
}
#event-speakers-wrap {
    text-align: center;
    margin-bottom: 30px
}
#event-speakers {
    position: relative;
    display: inline-block;
}
.profile {
    display: inline-block;
    text-align: center;
    color: #7A787D;
    padding: 0px 10px;
}
.profile-name {
    font-weight: bold;
    margin: 10px 0px 0px 0px;
}
.profile-company {
    margin: 0px;
}
.profile-frame {
    background-color: #44281A;
    margin: 0 auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.profile-glass {
    background-size: 100%;
    width: 96%;
    height: 96%;
    margin: 0 auto;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.form-group {
    padding: 0px;
    margin-bottom: 10px;
}
#register-form {
    margin-bottom: 30px;
}
#register-btn {
    font-size: 2em;
    font-weight: bold;
}
@media (min-width: 768px) {
    #event-name {
        text-align: left;
    }
    #event-speakers-wrap {
    }
    #event-description > p {
        text-align: left;
        height: auto;
    }
    #event-details-split > div {
        padding: 0px;
        margin-bottom: 10px;
    }
    #event-date {
        text-align: left;
        text-indent: 1em;
    }
    #event-time {
        text-align: left;
        text-indent: 1em;
    }
    #event-location {
        text-align: left;
        text-indent: 1em;
        margin-bottom: 0px !important;
    }
    #event-links {
        text-align: left;
    }
}
@media (min-width: 992px) {
    .event-name {
        text-align: left;
    }
}
@media (min-width: 1200px) {
    .event-name {
        text-align: left;
    }
}
@media (max-width: 768px) and (orientation: portrait) {
    .event-name {
        text-align: left;
    }
    #register-form {
        position: relative;
        display: inline-block;
        text-align: center;
    }
    #register-form-wrap {
        display: inline-block;
        width: 50%;
    }
}
@media all and (orientation: portrait) {
    .event-name {
        text-align: left;
    }
}
@media (max-width: 768px) and (orientation: landscape) {
    .event-name {
        text-align: left;
    }
    #register-form {
        position: relative;
        display: inline-block;
        text-align: center;
    }
    #register-form-wrap {
        display: inline-block;
        width: 50%;
    }
}
@media (min-width: 768px) and (orientation: landscape) {
    .event-name {
        text-align: left;
    }
    .profile {
        margin-bottom: 20px;
    }
    #event-details-split > div {
        padding: 0px;
        margin-bottom: 10px;
    }
    #event-date {
        text-align: left;
    }
    #event-time {
        text-align: left;
    }
    #event-location {
        text-align: left;
        margin-bottom: 5px !important;
    }
    #event-links {
        text-align: left;
    }
}
