@charset "utf-8";
body {
    /*font-size: 18px;*/
    background-color: #C4D8E2;
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    color: #7A787D;
}
h1 {
    color: white;
    text-transform: uppercase;
    padding: 0 0 0 0;
}
#container {
    height: auto;
}
#event-container {
    background-color: transparent;
    margin-top: 50px;
    padding-top: 30px;
    height: 100%;
}
.navbar {
    background-color: rgba(256, 256, 256, 0.8);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.navbar-default .navbar-brand {
    color: #C4D8E2;
}
.navbar-default .navbar-brand:hover {
    color: #A8CEE2;
}
.navbar-default .navbar-nav > li > a {
    color: #7A787D;
}
.navbar-default .navbar-nav > li > a:hover {
    color: black;
}
/*.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
    color: #D7D3D0;
    font-size: 18px;
}
.navbar-default .navbar-nav>li>a:active, .navbar-default .navbar-brand:active {
    color: #44281A;
    font-size: 18px;
}
.navbar-default .navbar-nav>li>a:active:focus, .navbar-default .navbar-brand:active:focus {
    color: #44281A;
    font-size: 18px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-brand:focus {
    color: #D7D3D0;
    font-size: 18px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-brand:hover {
    color: #44281A;
    font-size: 18px;
}*/
#event-wrap {
    padding: 0px;
}
#event-details {
    margin-bottom: 30px;
}
#event-details > div {
    padding: 0px;
}
#event-name {
    text-align: center;
    height: auto;
    margin-bottom: 50px;
}
/*#event-name > h3 {
    font-family: 'Lobster', cursive;
    color: #E98B33;
    font-size: 3em;
    margin: 0px;
}*/
#event-description {
    overflow: visible;
    margin-top: 3em;
    margin-bottom: 3em;
}
#event-description > p {
    /*color: #7A787D;*/
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: center;
    max-height: none;
}
#event-date {
    text-align: center;
}
/*#event-date > h5 > i, #event-time > h5 > i, #event-location > h5 > i {
    color: #75AADB;
}*/
/*#event-date > h5 {
	padding-left: 1em;
	text-indent: -1em;
    display: inline-block;
    margin: 0px;
    font-size: 1.5em;
    color: #7A787D;
}*/
#event-time {
    text-align: center;
}
/*#event-time > h5 {
	padding-left: 1em;
	text-indent: -1em;
    display: inline-block;
    margin: 0px;
    font-size: 1.5em;
    color: #7A787D;
}*/
#event-location {
    text-align: center;
}
/*#event-location > h5 {
	padding-left: 1em;
	text-indent: -1em;
    display: inline-block;
    margin: 0px;
    font-size: 1.5em;
    color: #7A787D;
}*/
#event-links {
    text-align: center;
}
#event-links i {
    color: white;
    opacity: 0.5;
    font-size: 2em;
    margin: 0.1em 0.5em 0.1em 0em;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
#event-links i:hover {
    opacity: 1;
}
#event-speakers-wrap {
    text-align: center;
    margin-bottom: 30px
}
#event-speakers {
    position: relative;
    display: inline-block;
}
.profile {
    display: inline-block;
    text-align: center;
    padding: 0px 10px;
}
.profile-name {
    font-weight: bold;
    margin: 10px 0px 0px 0px;
}
.profile-company {
    margin: 0px;
}
.profile-frame {
    /*background-color: #44281A;*/
    margin: 0 auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.profile-glass {
    background-size: 100%;
    width: 96%;
    height: 96%;
    margin: 0 auto;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.form-group {
    padding: 0px;
    margin-bottom: 10px;
}
#register-form {
    margin-bottom: 30px;
}
.btn, .btn:hover{
    padding: 1em 1em 1em 1em;
}
.btn {
    background-color: 
}

/*#register-btn {*/
    /*font-size: 2em;*/
    /*font-weight: bold;*/
/*}*/
.gallery-small {
    height: auto;
}
.gallery-wrapper {
    height: auto;
    margin-bottom: 100px;
}
@media (min-width: 768px) {
    #event-name {
        text-align: left;
    }
    #event-speakers-wrap {
    }
    #event-description > p {
        text-align: left;
        height: auto;
    }
    #event-details-split {
        margin-top: 1em;
    }
    #event-details-split > div {
        padding: 0 0 0 0;
        /*margin-bottom: 10px;*/
    }
    #event-date {
        text-align: center;
        /*text-indent: 1em;*/
    }
    #event-time {
        text-align: center;
        /*text-indent: 1em;*/
    }
    #event-location {
        text-align: center;
        /*text-indent: 1em;*/
        margin-bottom: 0px !important;
    }
    #event-links {
        text-align: center;
    }
}
@media (min-width: 992px) {
    .event-name {
        text-align: left;
    }
}
@media (min-width: 1200px) {
    .event-name {
        text-align: left;
    }
}
@media (max-width: 768px) and (orientation: portrait) {
    .event-name {
        text-align: left;
    }
    #register-form {
        position: relative;
        display: inline-block;
        text-align: center;
    }
    #register-form-wrap {
        display: inline-block;
        width: 50%;
    }
}
@media all and (orientation: portrait) {
    .event-name {
        text-align: left;
    }
}
@media (max-width: 768px) and (orientation: landscape) {
    .event-name {
        text-align: left;
    }
    #register-form {
        position: relative;
        display: inline-block;
        text-align: center;
    }
    #register-form-wrap {
        display: inline-block;
        width: 50%;
    }
}
@media (min-width: 768px) and (orientation: landscape) {
    .event-name {
        text-align: left;
    }
    .profile {
        margin-bottom: 20px;
    }
    #event-details-split > div {
        padding: 0px;
        margin-bottom: 10px;
    }
    #event-date {
        text-align: center;
    }
    #event-time {
        text-align: center;
    }
    #event-location {
        text-align: center;
        margin-bottom: 5px !important;
    }
    #event-links {
        text-align: center;
    }
}