
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-calendar:before { content: '\e801'; } /* '' */
.icon-location:before { content: '\e802'; } /* '' */
.icon-clock:before { content: '\e803'; } /* '' */
.icon-linkedin:before { content: '\e804'; } /* '' */
.icon-youtube:before { content: '\e807'; } /* '' */
.icon-twitter:before { content: '\e808'; } /* '' */
.icon-instagram:before { content: '\e809'; } /* '' */
.icon-link:before { content: '\e80a'; } /* '' */